/* 전체 컨테이너 스타일 */
.mypage-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  min-width: 480px;
}

/* 탭 네비게이션 스타일 */
.tabs-navigation {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  border-bottom: 0;
  width: 100%;
  margin-bottom: -2px; /* 아래쪽 여백 추가 */
}

.tab-link {
  margin: 0;
  padding: 0.875rem 2.8rem;
  /* text-transform: uppercase; */
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #666;
  transition: color 0.2s, border-color 0.2s;
  display: flex; /* 플렉스 박스 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  box-sizing: border-box; /* 테두리와 패딩이 전체 크기에 포함되도록 설정 */
  border: 3px solid #1D3D6B; /* 기본 테두리 색상 */
  border-radius: 5px; /* 기본 테두리 반경 */
}

.tabs-navigation li {
  flex: 1; /* 모든 리스트 항목들이 동일한 너비를 가지도록 설정 */
  white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
  overflow: hidden; /* 텍스트가 너무 길 경우 오버플로우 처리 */
  text-overflow: ellipsis; /* 텍스트가 오버플로우될 때 생략 부호(...) 추가 */
}

.tab-link.active {
  color: #f0f0f0;
  background-color: #1D3D6B; /* 활성화된 탭의 배경색 */
  border-color: #1D3D6B; /* 활성화된 탭의 테두리 색상 */
}

.mypage-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0; /* 상단 마진 제거 */
  border: 3px solid #1D3D6B;
  border-radius: 5px;
  /* white-space: nowrap;
  overflow: hidden; */
}
